<a href="https://colab.research.google.com/github/FoxJaeger007/Clases-de-Analisis-de-dato/blob/main/Laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#1.	Ejercicio de práctica 1. Aseguramiento de la Calidad de los Datos
#1.	Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.
#1.	Identificar y contar los valores faltantes en cada columna.

import pandas as pd

# Datos originales
data = {
'Nombre': ['Juan', 'Ana', 'Pedro', 'María','Luis', 'Ana'],
'Edad': [28, 34, None, 45, 38, 34],
'Salario': ['3000', '4000','cinco mil', '4500', '4000', '5000'],
'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12' ]
}
df = pd.DataFrame(data)
# Identificar y contar los valores faltantes
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
Nombre          0
Edad            1
Salario         0
FechaIngreso    0
dtype: int64

In [32]:
#1.1.2.	Identificar y contar los valores faltantes en cada columna.


salarios_incorrectos = df[~df['Salario'].str.replace('[^0-9]', '',
regex=True).fillna('').str.isdigit()]
print("\nSalarios con formato incorrecto:")
print(salarios_incorrectos)

Salarios con formato incorrecto:
  Nombre  Edad    Salario FechaIngreso
2  Pedro   NaN  cinco mil   2022-07-01

In [33]:
#1.1.3.	Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'],
errors='coerce', format='%Y/%m/%d',dayfirst=True)
print("\nDatos después de estandarizar 'FechaIngreso':")
print(df[['Nombre', 'FechaIngreso']])

Datos después de estandarizar 'FechaIngreso':
  Nombre FechaIngreso
0   Juan          NaT
1    Ana   2020-03-12
2  Pedro          NaT
3  María   2021-12-01
4   Luis          NaT
5    Ana          NaT

In [34]:
#1.2.Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad
#, salario, puesto de trabajo y fecha de ingreso. Se requiere implementar aseguramiento de la calidad de los datos
#, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.
#1.	Identificar y contar los valores faltantes en cada columna.

data = {
'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, 34, None, 45, 38, 34],
'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
'Cargo' : [ 'Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']
}

df = pd.DataFrame(data)
# Identificar y contar los valores faltantes
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
Nombre          0
Edad            1
Salario         0
Cargo           1
FechaIngreso    1
dtype: int64

In [35]:
#1.2.2.	Identificar y contar los valores faltantes en cada columna.

salarios_incorrectos = df[~df['Salario'].str.replace('[^0-9]', '',
regex=True).fillna('').str.isdigit()]
print("\nSalarios con formato incorrecto:")
print(salarios_incorrectos)

Salarios con formato incorrecto:
  Nombre  Edad     Salario    Cargo FechaIngreso
3  María  45.0  cuatro mil  Gerente   2021/12/01

In [36]:
#1.2.3.	Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'],
errors='coerce', format='%Y/%m/%d',dayfirst=True)
print("\nDatos después de estandarizar 'FechaIngreso':")
print(df[['Nombre', 'FechaIngreso']])

Datos después de estandarizar 'FechaIngreso':
  Nombre FechaIngreso
0   Juan          NaT
1    Ana   2020-03-12
2  Pedro          NaT
3  María   2021-12-01
4   Luis          NaT
5  Carla          NaT

In [37]:
# 2 El segundo ejercicio de práctica deberás realizar el código usando las bibliotecas en
#Python para la manipulación de los datos y aplicar la calidad de los datos, pegar
#la captura de pantalla del resultado y copi ar el código según el escenario.
#1.	Ejercicio de práctica 2.
#1. Se requiere validar los datos: Precios de Productos, se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.

#1.	Crear un DataFrame con productos y precios.
#2.	Producto: Producto A, Producto B,Producto C,Producto D.
#3.	Precio:150, -25, 100, None.

data = datos={
'Producto':['ProductoA','ProductoB','ProductoC','ProductoD'],
'Precio':[150, -25, 100, None]}#

df = pd.DataFrame(data)

print(df)

    Producto  Precio
0  ProductoA   150.0
1  ProductoB   -25.0
2  ProductoC   100.0
3  ProductoD     NaN

In [38]:
#2.1.4 y 2.1.5	Validar que todos los precios sean mayores o iguales a cero y no nulos.


df['ValidaciónPrecio']=df['Precio'].apply(lambda x:'Válido' if pd.notnull(x)and x>=0 else'Inválido')
print(df)

    Producto  Precio ValidaciónPrecio
0  ProductoA   150.0           Válido
1  ProductoB   -25.0         Inválido
2  ProductoC   100.0           Válido
3  ProductoD     NaN         Inválido

In [39]:
#2.2..	Se requiere validar los datos duplicados: Clientes en una Base de Datos,
# se tiene una lista de clientes donde algunos registros tienen el mismo ID y necesitas identificarlos.

#Se requiere

#1.	Crear un DataFrame con información de clientes.
#2.	ID Cliente:1, 2, 3, 2, 4.
#3.	Nombre: Ana, Luis, María, Luis, Carlos


data = datos={
'ID Cliente':[1, 2, 3, 2, 4],
'Nombre':['Ana', 'Luis', 'María', 'Luis', 'Carlos']}

df = pd.DataFrame(data)

print(df)

   ID Cliente  Nombre
0           1     Ana
1           2    Luis
2           3   María
3           2    Luis
4           4  Carlos

In [40]:
#2.2.4 	Verificar si hay duplicados en la columna de ID del cliente.
#2.2.5  Mostrar los registros duplicados.

duplicados=df[df.duplicated('ID Cliente')]
print(duplicados)

   ID Cliente Nombre
3           2   Luis

In [41]:
#2.3 3.	Se requiere tener seguridad en los datos: Encriptación
#y Desencriptación de Datos Sensibles, se tiene un número de tarjeta
#de crédito que deseas encriptar para protegerlo y luego desencriptarlo para el uso.


#1.	Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101- 1121).
#2.	Encriptar esos datos utilizando una clave generada.
#3.	Desencriptar los datos y mostrar ambos (encriptado y desencriptado).


from cryptography.fernet import Fernet
key = Fernet.generate_key()
cipher_suite= Fernet(key)
datos_sensibles= "1234-5678-9101-1121".encode()
datos_encriptados= cipher_suite.encrypt(datos_sensibles)
datos_desencriptados= cipher_suite.decrypt(datos_encriptados)
print("Datos Encriptados:", datos_encriptados)
print("Datos Desencriptados:", datos_desencriptados.decode())

Datos Encriptados: b'gAAAAABnNWIXA-righ9kOD_e9LUU_pxx8N2WWhxL2IR04EdwX4URYl_rqVm1W5yGyNPfsCI9SqPc6CNp6h1I1rSCK938DRTrFxmvn2Gs1udLfVDtIwTzVeI='
Datos Desencriptados: 1234-5678-9101-1121